:root {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    --color-primary: #F6BF0F;
    --color-secondary: #FFE07E;
    --color-terceray: #FFF6D9;
    --color-quaternary: #235C9F;
    --color-quintenary: #0F2948;;
    box-sizing: border-box;
    color: var(--color-terceray);
    background-color: var(--color-terceray);
}

body,
:root {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

   

}

header,
footer {
    display: flex;
    align-items: center;
    background-color: var(--color-quintenary);
    padding: 0.938rem;
    color: var(--color-primary);
}

header {
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0;
    justify-content: space-between;
    box-shadow: 0px 5px 5px var(--color-quintenary);
    box-sizing: border-box;
    padding: 7px 10px 0px 10px;
}

header a img,
footer img {
    width: 6.250em;
    height: auto;
}

header button {
    border: none;
    background-color: var(--color-quaternary);
    color: var(--color-text);
    font-family: "Barlow Condensed", sans-serif;
    border-radius: 2.25rem;
    padding: 0.938em;
    font-size: 1.125em;
}

footer {
    justify-content: left;
    gap: 0.625rem;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    box-shadow: 5px 0px 5px var(--color-quintenary);;
}

.menu-icon {
    display: none;
}

button:hover,
input:hover,
select:hover {
    cursor: pointer;
}

/*Buscador*/
#buscador {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#buscador::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-buscador.png);
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
    content: "";
}

#buscador #text {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    justify-content: space-between;
}

#buscador #text #text2 {
    font-size: 2em;
    margin-top: 0%;
}

#buscador #text #text1 {
    font-size: 4em;
    text-align: center;
}

#buscadorInput input,
#buscadorInput #categoria,
#buscadorInput #categoria option, .buttonReserva {
    padding: 0.938em;
    background-color: var(--color-quaternary);
    border: none;
    border-radius: 2.25em;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.125em;
    color: var(--color-terceray);
}

#buscadorInput #buscar:hover{
    color: var(--color-quaternary);
    background-color: var(--color-terceray);
}

#buscadorInput #buscar{
    background-color: var(--color-primary);
}

/*Categorias*/
#viewCategorias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

#viewCategorias button {
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-quintenary);
    font-family: "Barlow Condensed", sans-serif;
    border-radius: 36px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

#viewCategorias button:hover{
    background-color: var(--color-primary);
}

/*Productos body*/
/*Estilos para los productos dentro del div showProductos */
#showProductos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* La cuadrícula se ajustará automáticamente */
    gap: 1em; 
    margin-bottom: 3rem;
    justify-items: center;
    align-items: center;
}

.producto {
    border: 1px solid #ccc;
    background-color: var(--color-quaternary);
    border-radius: 10px;
    padding: 1.250em;
    width: 20vw;
}

.producto h2 {
    font-size: 1.2rem;
    margin-bottom: 0.625em;
    color: var(--color-primary); 
}

.producto p {
    font-size: 1rem;
    color: rgb(255, 255, 255); 
}

.producto p.descripcion {
    color: rgb(12, 12, 12); 
}

.producto p.precio {
    color: rgb(8, 8, 8); 
    font-weight: bold; 
}

#recomendaciones{
    text-align: center;
}

#tituloRecomendaciones{
    color: var(--color-primary);
}

/* Estilos solo para el botón "Ver más" */
.ver-mas-link {
    border: none;
    border-radius: 20px; 
    background-color:var(--color-secondary); 
    color: #00008b; 
    padding: 0.313em 0.625em; 
    font-size: 0.688em; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    float: right; 
    margin-top: 0.625em; 
    font-weight: bold;
    text-decoration: none;    
}

.ver-mas-link:hover {
    background-color: var(--color-primary); /* Amarillo más claro al pasar el mouse */
}

@media (max-width: 800px) {
    header,
    footer, 
    #buscador, 
    #buscadorInput,
    #viewCategorias,
    #descripcionYcard {
        flex-direction: column;
    }

    /*Ocultamos los botones de "Iniciar Sesión" y "Registrarse".*/
    header button{
        display:none;  
    }
    
    /*Mostrar el icono del menú hamburguesa.*/
    .menu-icon {
        display:block;  
    }

    .menu-icon .fa-bars {
        visibility: visible;
        display: block;
        font-size: 1rem;
    } 

    #buscador{
        text-align: center;
    }

    #buscadorInput{
        display: flex;
        justify-content: space-between; 
    }

    #buscadorInput input, #buscadorInput select, #buscadorInput #buscar{
        margin-bottom: 0.25rem;
    }

    /*DetailProduct*/
    
}


    
    
